- var link = 'telegram-login'
- var title = 'Telegram Login Widget，製作用 Telegram 登入功能'
- var description = '文章大綱'

<!DOCTYPE html>
html(lang="zh-TW")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{title} - Augustus - Let's Write

    link(rel="canonical", href=`https://letswrite.tw/${link}/`)
    meta(property="og:url", content=`https://letswritetw.github.io/letswrite-${link}/`)

    meta(property="fb:app_id", content="911000986339138")
    meta(property="og:type", content="website")

    meta(property="og:site_name", content="Let's Write")
    meta(property="og:title", content=`${title} - Augustus - Let's Write`)
    meta(itemprop="name", content=`${title} - Augustus - Let's Write`)

    meta(name="description", content=description)
    meta(property="og:description", content=description)
    meta(itemprop="description", content=description)

    meta(itemprop="image", content=`https://letswritetw.github.io/letswrite-${link}/fb.jpg`)
    meta(property="og:image", content=`https://letswritetw.github.io/letswrite-${link}/fb.jpg`)
    meta(property="og:image:width", content="1200")
    meta(property="og:image:height", content="630")
    meta(property="og:image:alt", content=title)

    link(rel="shortcut icon", href="https://letswritetw.github.io/letswritetw/dist/img/logo_512.png")

    //- css
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css")
    link(rel="stylesheet", href="dist/style.min.css")

    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PGQ9WQT');
  body

    // Google Tag Manager (noscript)
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-PGQ9WQT", height="0", width="0", style="display:none;visibility:hidden")
    
    .container

      h1.text-center Telegram Login Widget
      
      hr

      .text-center
        p 筆記文：
          a(href="https://letswrite.tw/telegram-login/") Let's Write

      h2 1. Callback
      
      .mb-4

      script(async='' src='https://telegram.org/js/telegram-widget.js?14', data-telegram-login='lifetifulBot', data-size='large', data-onauth='onTelegramAuth(user)', data-request-access='write')

      .mb-4

      pre
        code#code 登入後取得的資料會顯示在這

      hr

      h2 2. Redirect to URL
      h3 HTML
      p 生成器網址：
        a(href="https://core.telegram.org/widgets/login#widget-configuration", target="_blank", ref="noopener noreferrer") Widget configuration
      pre
        code
          | &lt;!-- 在要產生登入按鈕的地方貼上以下 -->
          | &lt;script async src="https://telegram.org/js/telegram-widget.js?14"
          |         data-telegram-login="Telegram 機器人的「使用者名稱」"
          |         data-size="large"
          |         data-auth-url="要轉去哪個 URL 做後端處理"
          |         data-request-access="write">&lt;/script>
      
      h3 後端，本處是用 Google Apps Script

      script(src="https://gist.github.com/letswritetw/ec4f9037f69af01b7e7c3154a9ba4b40.js")

      hr

    script.
      // Callback 的 function
      // 這邊會送資料到 Let's Write 的 Firebase，clone 下來用時記得刪掉
      function onTelegramAuth(user) {
        const data = JSON.stringify(user);
        document.getElementById('code').innerHTML = data;
        var requestOptions = {
          method: 'POST',
          redirect: 'follow'
        };

        fetch(`https://script.google.com/macros/s/AKfycbzgFHWEpsh-NOujcaH1G1lIAKi4RgnZZrRZgJSOJHUX9oRqVwV4G9DA/exec?auth_date=${user.auth_date}&first_name=${user.first_name}&last_name=${user.last_name}&hash=${user.hash}&id=${user.id}&photo_url=${user.photo_url}`, requestOptions);
      }
